<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8" />
<title>Crypto Portfolio</title>
<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.0/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../css/portfolio.css" th:href="@{css/portfolio.css}" />
<script src="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.0/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script src="http://cdn.jsdelivr.net/webjars/jquery/3.3.1/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>

</head>

<body>
	<nav class="navbar navbar-expand-sm  navbar-light crypt_nav">
	  <div class="container-fluid">
    	<div class="navbar-header">
    		<a class="navbar-brand" href="#">Spring - Crypto Portfolio</a>
    	</div>
		<ul class="nav navbar-nav">		
			<li class="nav-item active">
				<a class="nav-link" href="/portfolio">Home</a>
			</li>
					<li class="nav-item">
						<a class="nav-link" href="/login">Login</a>
					</li>
		</ul>
					
		</div>
	</nav>

	<div class="container">
		<h3>Welcome to Crypto Portfolio</h3>
		
	</div>
</body>
</html>